body{

	background: lightgray;
	font-family: sans-serif;
	color: darkblue;
	text-align: center;
	
}
.trianglelist{
	list-style-type: disclosure-open;
}
.myShadow{
	text-shadow: 4px 4px 4px orangered;
}
.boldunderline{
	text-decoration: underline;
	font-weight: bold;
}
.bold{
	font-weight: bold;
}

@media(min-width: 768px){
	.experience-container{
		display: flex;
		justify-content: space-between;
	}

}

.flex-box-1, 
.skills-container, 
.education-container,
.cover-letter-content-container {
	border: 1px blue solid;
}
.flex-box-1{
	flex-basis: 32%;
}
.cover-letter-content-container{
	text-align: left;
}
.date-container{
		display: flex;
		justify-content: end;
}
.myPicture{
	width: 300px;
	height: 300px;
}


