body{

	background: lightgray;
	font-family: sans-serif;
	color: darkblue;
	text-align: center;
	
}

.picture{
	width: 300px;
	height: 300px;
}
.row {
    margin-top: 30px;
    justify-content: space-evenly;
}
.boldunderline {
    text-decoration: underline;
	font-weight: bold;
}
.trianglelist {
    list-style-type: disclosure-open;
}
.bold {
    font-weight: bold;
}
.date {
    text-align: right;
}
.cl-content{
    text-align: left;
}
.shadow {
    text-shadow: 4px 4px 4px orangered;
}
